<!--Page showing post delete confirmation-->


<!--Header-->
{% extends "header.html" %}

<!--page content-->
{% block content %}
  
  <h1>Delete Post</h1>

  <!--post delete confirmation-->
  <div class="col-xs-12 col-sm-12">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="row">
      <div class="well3" >
        <form method = 'post'>
          <h3>Are you sure you want to delete this post?</h3>
          </br>
          </br>
          <input type='submit' value='Yes'>
          <button type="button"> <a href= '/blog'>No</a></button>
        </form>
      </div>
    </div>
  </div>
        
{% endblock %}