<!--Page showing form to edit existing comment-->


<!--Header-->
{% extends "header.html" %}

<!--page content-->
{% block content %}
  
  <h1>Edit Comment</h1>

  <!--Form to edit comment-->
  <div class="col-xs-12 col-sm-12">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="row">
      <div class="well3" >
        <form method = 'post'>
          <h3>Comment:</h3>
            <textarea name='comment_text'>{{comment_text | safe}}</textarea>
          <div class="error">
            {{error}}
          </div>
          </br>
          </br>
          <input type='submit' value='Update'>
          <button type="button"> <a href = '/blog'>Cancel</a></button>
        </form>
      </div>
    </div>
  </div>
        
{% endblock %}