<!--Page showing login form-->


<!--Header-->
{% extends "header.html" %}

<!--page content-->
{% block content %}
  
<h1>Login</h1>

<!--Form to login-->
<div class="col-xs-12 col-sm-12">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="row">
    <div class="well3" >
      <form method = 'post'>
        <h3>Username:</h3>
          <input type='text' size='30' name='username' value="{{username}}">
        <h3>Password:</h3>
          <input type='password' size='30' name='password' value="">
        <div class="error">
          {{error}}
        </div>
        </br>
        </br>
        <input type='submit' value='Login'>
      </form>
    </div>
  </div>
</div>
    
    
{% endblock %}
